
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="about">
          <h3>About Us</h3>
          <h5 class="about-text">This platform provide a space where developers and programmers can discuss their doubts related to coding, you can ask and answer a question and even contribute by answering a question which you feel might help others.</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
          <h1 class="footer-icons">
            <a class="icon-anchor" href="https://www.facebook.com/profile.php?id=100039280729807"><i class="fab fa-facebook-square"></i></a>
            <a class="icon-anchor" href="https://github.com/Grumpyyash"><i class="fab fa-github"></i></a>
            <a class="icon-anchor" href="https://www.linkedin.com/in/yash-vardhan-688952188/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B3wp63XQaQm%2BALUNyRjOLcA%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_base-nav.settings_view_profile"><i class="fab fa-linkedin"></i></a>
            <a class="icon-anchor" href="mailto:yashvardhan513@gmail.com"><i class="far fa-envelope"></i></a>
          </h1>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="developer">
          <h3>Developer <i class="fas fa-code developer-icon"></i></h3>
          <h4>Yash Vardhan @ IIT(ISM) Dhanbad Bachelor of Technology in Mechanical Engineering</h4>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
